import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;

import java.io.Serializable;

@NoArgsConstructor
public class {{className}} implements Serializable {
    {{forProperties}}
    @Getter @Setter
    private {{type}} {{variablesName}};
    {{endFor}}
}